.container
{
    background:url("bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:720px;
    width:600px;
    border:4px solid cyan;
    border-radius: 10px 10px 10px 10px;
}
.header
{
    color:black;
}
h2
{
    color:yellow;
    text-align: center;
    text-decoration: underline;
}
.content
{
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.quotes
{
    width:500px;
    height: 50px;
    background-color: antiquewhite;
    margin-left: 30px;
    padding-left:20px;
    color:hotpink
}
.author
{
    width:500px;
    height:200px;
    background-color:bisque;
    margin-left: 30px;
    padding-left:20px;
    color:cadetblue;
}
.footer
{
    width:500px;
    height:60px;
    background-color:lightslategray;
    margin-left:30px;
    padding-left:20px;
    padding-bottom:15px;
    margin-top:20px;
    color:yellow;
    bottom: 0px;    
}